body{
    text-align: center;
    background-image: radial-gradient(circle,rgb(63, 46, 46),rgb(0, 0, 0));
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    margin-bottom: 30px;
}

.home{
    border-radius: 10px;
    margin-left: 10px;
    display: inline-block;
    color: white;
    background-color: rgb(85, 85, 85);
    padding: 20px;
    width: 100px;
    text-align: center;
}

.home:hover{
    background-color: aqua;
    cursor: pointer;
}

.play{
    border-radius: 10px;
    margin-left: 10px;
    display: inline-block;
    color: white;
    background-color: rgb(85, 85, 85);
    padding: 20px;
    width: 100px;
    cursor: pointer;
}

.play:active{
    background-color: aqua;
}

.stream{
    border-radius: 10px;
    text-align: center;
    margin: 25px auto; 
    padding: 20px;
    background-color: rgb(85, 85, 85);
    width: 500px;
}

.stream li{
    display: inline-block;
    padding: 20px;
}

.stream li:hover{
    background-color: aqua;
    border-radius: 10px;
}

.stream li a{
    color: white;
    text-decoration: none;
}

a::before{
    content: '*';
}

a::after{
    content: '🎵*';
}
